<section>
  <div
    class="list-view"
    *ngFor="let data of data"

  >
    <div class="d-flex w-100 base-section">
      <div
        class="d-flex flex-column borderLeft justify-content-between  p-2 w-75"
        *ngFor="let col1 of column"
      >
        <div *ngFor="let col of col1 ; let index = index"
        [ngClass]="{ 'bg-white': 0 != index % 2, 'bg-purple': 0 == index % 2 }">
          <div class="d-flex base-section py-2">
            <div class="w-25">
              <span class="text-black-90 font-size-10 px-2"
                >{{ col.header }}:</span
              >
            </div>
            <div class="w-75">
              <span class="font-size-10 text-black-90 font-medium px-1" *ngIf="col.field">
                {{ data[col.field] | replaceNullWithText: "---" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
