@import "../../../../assets/scss/variable";

.list-view {
  border-radius: 5px;
  margin: 0 0 20px;
  box-shadow: 0 2px 0 0 $gray-color-10;
  transition: 0.45s ease-in-out;

  &:hover {
    box-shadow: 0 8px 5px -1px $gray-color-10;
  }
}

.flex-column {
  flex: 50%;
}

.operation {
  width: 25%;


}

.borderLeft {
  border-left: 1px solid $gray-color-20;
}
