
$gray-color-20:#E0E0E0;
$gray-color-10:#f5f5f5;


$black-color-100:#0000;
$black-color-90:#212121;



$blue-color:#2196f3;


$green-color:rgb(5, 185, 5);
$orange-color:#fff3d7;
$purple-color:rgb(240, 245, 247);
$navy-blue-color:#1C2738;
$red-color:rgb(231, 22, 22);
$white-color:#ffff;
//radius
$radius-s: 5px;
$radius-l: 20px;




//spacing
$spacing-00: 0px;
$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;

