@import "./variable";

// bg gray
.bg-gray {
  background: $gray-color-10;
}

//bg red
.bg-red {
  background: $red-color;
}

//bg orange
.bg-orange{
  background: $orange-color;
}
// bg purple
.bg-purple{
  background: $purple-color;
}

//bg white
.bg-white {
  background: $white-color;
}

//bg blue
.bg-blue {
  background: $blue-color;
}
