<p-table [columns]="cols" [value]="data" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="text-center" *ngFor="let col of columns">
        <span class="font-size-12"> {{ col.header }}</span>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td class="text-center" *ngFor="let col of columns;let i=index">
        <span class="font-size-12" *ngIf="col.type !== 'boolean' && col.type !== 'action'">{{
          rowData[col.field] | replaceNullWithText: "---"
          }}</span>
        <span class="font-size-12" *ngIf="col.type === 'boolean' && !rowData[col.field]">
          {{ rowData[col.field] | replaceNullWithText: "---" }}</span>
        <span *ngIf="col.type === 'boolean'"><i class="pi pi-check-circle text-green font-size-20"
            *ngIf="rowData[col.field]"></i></span>

        <span *ngFor="let action of col.columnActions" (click)="action.onClick(rowData)"> <i class="px-4 cursor-pointer"
            [class]="action.icon"></i></span>

      </td>


    </tr>

  </ng-template>
</p-table>
