@import "../../../../assets/scss/variable";
.box-loder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

:host ::ng-deep .custom-spinner {
  z-index: 1;
  .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
      custom-progress-spinner-color 6s ease-in-out infinite;
  }
}

@keyframes custom-progress-spinner-color {
  0%,
  40% {
    stroke: $gray-color-20;
  }
  60%,
  100% {
    stroke: $blue-color;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
