<div class="main-sidebar_header">
  <ul class="d-flex flex-column justify-content-center align-items-center my-4">
    <li *ngFor="let nav of menuList" class="text-right cursor-pointer w-100">
      <a
        class="menu_item d-flex align-items-center justify-content-start py-4"
        [routerLink]="[nav.path]"
      >
      <i class="menu_item-icon px-4 text-white font-size-18" [class]="nav.icon"></i>
       <span class="menu_item-text text-white font-medium font-size-14">{{ nav.title }}</span>

      </a>
    </li>
  </ul>
</div>
