@import "../../../../assets/scss/media-queries.scss";

.login-body{

  .login-content {
    position: fixed;
    padding: 80px 0;
    margin: 0 auto;
    text-align: center;
  }
}
@include media("screen", ">=tablet") {
  .login-body {
    min-height: 100vh;
    background: url("../../../../assets/img/layout/pages/bg-login.jpg");
    background-size: cover;
    .login-panel {
      padding: 80px;
      display: block;
      position: fixed;
      height: 200%;
      width: 100%;
      left: -50%;
      top: -50%;
      opacity: 0.95;
      filter: alpha(opacity=95);
      border-radius: 50%;
    }
    .login-content {
      text-align: left;
      padding: 80px 0 0 80px;
  }
  }
}
