<div class="login-body h-100">
  <div class="login-panel bg-white"></div>

  <div
    class="login-content w-100 h-100 d-flex flex-column justify-content-center align-items-start"
  >
    <form [formGroup]="loginForm">
      <h3 class="mb-3 text-black-90 text-center">
        Welcome, please use the form to sign-in.
      </h3>

      <div
        class="form-group"
        [ngClass]="{
          'has-danger': submitted && loginForm.controls['username'].errors
        }"
      >
        <input
          class="form-control radius-sm w-100"
          placeholder="enter username"
          type="text"
          name="username"
          formControlName="username"
        />
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-danger': submitted && loginForm.controls['password'].errors
        }"
      >
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text px-2 h-100">
              <i
                class="fa lh--9 op-6"
                [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }"
                (click)="toggleFieldTextType()"
              ></i>
            </span>
          </div>
          <input
            class="form-control radius-sm w-100"
            placeholder="enter password"
            [type]="fieldTextType ? 'text' : 'password'"
            name="password"
            formControlName="password"
          />
        </div>
      </div>
    </form>
    <button
      type="button"
      (click)="saveForm()"
      class="button my-4 bg-blue border-blue text-white d-flex justify-content-center align-items-center cursor-pointer radius-sm"
    >
      Sign In
    </button>
  </div>
</div>
