<section class="my-3 px-5">
  <app-card [isLoading]="isLoading">
    <app-table-dynamic [data]="users" [cols]="column"></app-table-dynamic>
    <p-paginator
      [rows]="10"
      [totalRecords]="totalRecords"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </app-card>
</section>

<p-dialog
  [header]="'customer-info'"
  [modal]="true"
  [(visible)]="display"
  [style]="{ width: '85vw' }"
>
  <app-card [isLoading]="isInfoLoading">
    <app-list-view [data]="customerInfo" [column]="infoColumn"></app-list-view>
  </app-card>
</p-dialog>
