@import "../../../../assets/scss/media-queries.scss";

.toolbar-section {
  .boxing-div {
    position: absolute;
    bottom: 0;
  }
  .general-button-div {
    border-radius: 50%;
    img {
      width: 20px;
    }
  }
}
.list-view {
  border-radius: 5px;
  margin: 0 0 20px;
  box-shadow: 0 2px 0 0 #cfd3d9;
  transition: 0.45s ease-in-out;
  .list-view-card {
    .counter {
      text-align: center;
      position: relative;
      transform-origin: left top;
      -moz-transition: all 1ms;
      min-width: 30px;
      -webkit-transition: all 1ms;
      transition: all 1ms;
      background-color: #cccccc;
      height: 100%;
      border-radius: 0 5px 5px 0;
      align-items: center;
      margin-left: 20px;
      .number {
        display: inline-block;
        margin-top: 10px;
        color: black;
        font-size: 15px;
        padding:5px 10px 0;
      }
      .check-sec {
        position: absolute;
        bottom: 10px;
      }
    }
  }
  &:hover {
    box-shadow: 0 8px 5px -1px #cfd3d9;
  }
  &:hover .list-view-card .counter {
    -moz-transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
    transform: scaleX(1.2);
    background-color: #fdb933;
    border-radius: 0 5px 5px 0;
  }
}
.bg-color-1 {
  background-color: #fff3d7;
}
.flex-column {
  flex: 50%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.font-size-10 {
  font-size: 10px;
}
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: red !important;
  }
  .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #384162;
  }
}

.operation{
  display: flex;
  align-items: center;
  width: 25%;
  padding: .25rem;
  flex-direction: column;
    .action-icon {
      width: 30px;
      height: 30px;
      margin-right: 0;
      transition: margin-right 0.45s ease;
      &:hover{
        margin-right: .75rem;
        color: orange;
      }
    }
  // @include xs {
  //   width: 100% ;
  //   display: flex;
  //   flex-direction: row;
  // }
  // @include sm {
  //   width: 100% ;
  //   display: flex;
  //   flex-direction: row;
  // }
  // @include md {
  //   width: 100% ;
  //   display: flex;
  //   flex-direction: row;
  // }
}

.borderLeft {
  border-left: 1px solid #c3c3c3;
  height: 90%;
  margin-top: 0.5rem;
  // @include xs {
  //   border-left: none;
  //   border-bottom: 1px solid #c3c3c3;
  // }
  // @include sm {
  //   border-left: none;
  //   border-bottom: 1px solid #c3c3c3;
  // }
  // @include md {
  //   border-left: none;
  //   border-bottom: 1px solid #c3c3c3;
  // }
}

::ng-deep .mat-checkbox-inner-container-no-side-margin {
  margin-right: 6px !important;
}

.base-section {
  // @include xs {
  //   display: flex;
  //   flex-direction: column;
  // }
  // @include sm {
  //   display: flex;
  //   flex-direction: column;
  // }
  // @include md {
  //   display: flex;
  //   flex-direction: column;
  // }
}

