
<div
  class="layout-wrapper"
  [ngClass]="{
    'layout-static': isStatic(),
    'layout-static-inactive': staticMenuDesktopInactive
  }"
>
  <div class="layout-topbar">
    <div class="d-flex h-100 justify-content-between container-fluid_layout-topbar">
      <div
        class="main-header-right d-flex align-items-center justify-content-center px-3"
      >
        <a
          class="main-header-menu-icon cursor-pointer"
          (click)="onMenuButtonClick($event)"
          id="mainSidebarToggle"
        >
          <img
            [src]="
              staticMenuDesktopInactive
                ? './assets/img/icons/header/منو بسته.svg'
                : './assets/img/icons/header/منو باز.svg'
            "
            alt="icon"
          />
        </a>
      </div>
      <div class="position-relative d-flex justify-content-center align-items-center">
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
  <div class="layout-menu-container">
    <app-sidebar></app-sidebar>
  </div>

  <div class="layout-main">
    <div class="layout-content py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
