<div class="main-profile-menu" [ngClass]="{ show: isShow }">
  <button class="button text-black cursor-pointer bg-white icon" (click)="isShow = !isShow">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none">
      <path d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z" fill="currentColor"></path>
      <rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="currentColor"></rect>
    </svg>
  </button>
  <div class="dropdown-menu-profile" *ngIf="isShow" [@inOutAnimation]>

      <div class="d-flex flex-column justify-content-start align-items-start py-3">
        <div class="d-flex flex-column text-blue justify-content-start align-items-start w-100 py-1 p-3">
<div class="d-flex justify-content-start align-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
    <path d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z" fill="currentColor"></path>
    <rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="currentColor"></rect>
  </svg>
  <span class="text-black-90 font-size-14">{{user.userName}}</span>
</div>

<div class="d-flex justify-content-start align-items-start w-100 pl-2 py-2">
  <i class="pi pi-building px-1 font-size-14 text-black-90"></i>
  <span class="text-black-90 font-size-12">{{user.company}}</span>
</div>


        </div>
        <div class="separator w-100 my-2"></div>
        <div class="d-flex justify-content-start align-items-center w-100 py-1 px-4" (click)="logout()">
          <i class="pi pi-sign-out px-1"></i>
          <span class="text-black-90 font-size-14 cursor-pointer px-1">Sign Out</span>
        </div>

      </div>


  </div>
</div>
