.main-profile-menu {
  .dropdown-menu-profile {
    position: absolute;
    bottom: 0;
    width: 230px;
    right: 0;
    transform: translate(2%, 100%);
    background: white;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    border-radius: 0.475rem;
    z-index: 3;
    .icon {
      border: none;
      height: 50px;
    }
  }
  &.show {
    .dropdown-menu-profile {
      &:before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 28px;
        transform: rotate(45deg);
        border-top: 1px solid #f0f2f8;
        border-left: 1px solid #f0f2f8;
      }
    }
  }
  .icon {
    border: none;
    height: 50px;
  }
}
