/* You can add global styles to this file, and also import other style files */
@import "assets/scss/background.scss";
@import "assets/scss/border.scss";
@import "assets/scss/display.scss";
@import "assets/scss/type.scss";
@import "assets/scss/fonts.scss";
@import "assets/scss/spacing.scss";
ul,
ol {
  padding: initial;
  margin: initial;
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
}
.dir-rtl {
  direction: rtl;
}
.dir-ltr {
  direction: ltr;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 10px;

  &.layout-static {
    .layout-menu-container {
      position: fixed;
      height: 100%;
      z-index: 1;
      background: $navy-blue-color;
      flex-direction: column;
      flex-shrink: 0;
      border-left: 0;
      transform: translateX(240px);
      visibility: hidden;
      transition: all 0.4s;
      transition: left 0.4s ease, width 0.4s ease;

      @media screen and (min-width: 992px) {
        width: 240px;
        display: flex;
        transform: none;
        z-index: 1;
        border-left-width: 1px;
        visibility: visible;
      }
    }

    .layout-main {
      transition: margin-left 0.3s ease;
      .main-sidebar_header{
        ul{
          li{
            a{
              @extend .justify-content-start;
             &.menu_item{
               .menu_item-icon{
                 @extend .font-size-18;
                 transition: all  0.4s ease-in-out;
               }

             }
            }
          }
        }
      }
      @media screen and (min-width: 992px) {
        padding-top: 63px;
        margin-left: 240px;
      }
      @media only screen and (min-width: 760px) {
        .layout-content {
          padding-left: 2%;
          padding-right: 2%;
        }
      }
      @media only screen and (max-width: 760px) {
        .layout-content {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    .layout-topbar {
      height: 60px;
      background-color: #fff;
      box-shadow: none;
      border-bottom: 1px solid #e8e8f7;
      z-index: 1;
      width: 100%;
      box-shadow: -7.829px 11.607px 20px 0 #e4e3f5;
      transition: left 0.4s ease, width 0.4s ease;

      @media screen and (min-width: 992px) {
        position: fixed;
        width: 100%;
        z-index: 1 !important;
        border-bottom: 1px solid #e1e6f1;
        box-shadow: -7.829px 11.607px 20px 0 rgba(144, 143, 160, 0.09);
        left: 0;
        padding-left: 240px;
        height: 65px;
      }
    }
    &.layout-static-inactive {
      .layout-topbar {
        padding-left: 80px;
      }

      .layout-menu-container {
        left: 0;
        width: 80px;
        display: block;
        .main-sidebar_header{
          ul{
            li{
              a{
                @extend .justify-content-center;
               &.menu_item{
                 .menu_item-icon{
                   @extend .font-size-20;
                 }
                 .menu_item-text{display: none;}
               }
              }
            }
          }
        }
      }
      .layout-main {
        margin-left: 80px;
      }

      &.layout-sidebar-open {
        @media screen and (min-width: 768px) {
          .layout-menu-container {
            left: 0;
            width: 240px;
            transition: left 0.4s ease, width 0.4s ease;
          }
        }
      }
    }
  }
}

.form-group {
  &.has-danger {
    .form-control {
      border-color: $red-color;
      padding-left: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 8px center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
}
.form-control {
  color: $black-color-90;
  background: $gray-color-10;
  padding: 0.429em;
  border: 1px solid $gray-color-20;
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none;
  &:enabled {
    &:focus {
      &:not(.ui-state-error) {
        border-color: $blue-color;
        outline: 0 none;
      }
    }
  }
}

.l-card {
  @extend .bg-white;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
}
button {
  border-style: solid;
  border-width: 1px;
  transition: all 0.4s ease;
  &.bg-blue {
    &:hover {
      background: darken($blue-color, 10%);
    }
  }
}

.p-datatable {
  .p-datatable-thead {
    tr {
      th {
        @extend .text-center;
      }
    }
  }
  .p-datatable-tbody {
    tr {
      td {
        @extend .text-center;
        @extend .py-2;
        @extend .px-2;
      }
    }
  }
}
.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid $purple-color;
}
.p-paginator{
.p-paginator-pages{
.p-paginator-page
{
min-width: 2rem;
height: 2rem;
z-index: 0;
}
}
}
.p-dialog-content{
  overflow-y: unset !important;
}
